<body class="centrado kenburns-left" alt="splash">
  <div class="container">
    <ion-card-content class="d-flex-center" style="margin-left: 10px;">
      <div class="custom-texto-arriba">
        <img src="../../../assets/apellido.png" alt="texto" class="icono scale-in-hor-left">
      </div>
      <div class="custom-logo">
        <img src="../../../assets/icon/icon-logo.png" alt="icono" class="icono-logo">
      </div>
      <div class="custom-texto-abajo">
        <img src="../../../assets/curso.png" alt="texto" class="icono scale-in-hor-left">
      </div>
    </ion-card-content>
  </div>
</body>
