<ion-content>
  <ion-row class="container">
    <ion-col size="12" class="btn-facil ion-activatable ripple-parent rounded-rectangle" routerLink="facil">
      <ion-text>FÁCIL</ion-text>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col size="12" class="btn-medio ion-activatable ripple-parent rounded-rectangle" routerLink="medio">
      <ion-text>MEDIO</ion-text>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col size="12" class="btn-dificil ion-activatable ripple-parent rounded-rectangle" routerLink="dificil">
      <ion-text>DIFÍCIL</ion-text>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
</ion-content>
