<ion-tabs>
  <ion-tab-bar slot="bottom" style="--background: #8841c5; --color: rgb(255, 255, 255);">
    <ion-tab-button tab="menu">
      <ion-icon name="game-controller-outline" color="light"></ion-icon>
      JUGAR
    </ion-tab-button>
    <ion-tab-button tab="ranking">
      <ion-icon name="medal" color="light"></ion-icon>
      RANKING
    </ion-tab-button>
    <ion-tab-button (click)="cerrarSesion()">
      <ion-icon name="exit-sharp" color="light"></ion-icon>
      CERRAR SESIÓN
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
